*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 40px;
}

.title{
    text-align: center;
    padding-bottom: 30px;
}

h4{
    font-size: 18px;
}

header{
    height: 100vh;
    background-image: url('../images/foto1.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.encabezado_logo img{
    height: 50px;
}

.encabezado-iconomovil{
    display: none;
}

.encabezado_menu a{
    color: white;
    padding-right: 20px;
    text-decoration: none;
}

.encabezado_menu .active-menu{
    color: rgb(255, 150, 58);
}

.principal{
    color: white;
    padding: 0 10%;
}

.principal h1{
    font-size: 80px;
}

.search{
    padding: 0;
}

.search-tag{
    display: flex;
    justify-content: center;
}

.search-tag a{
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    margin-right: 10px;
    text-decoration: none;
}

.search-tag .active-tag,
.search-tag a:hover{
    background: rgb(255, 150, 58);
}

.search-movil{
    display: none;
}

.input{
    background: white;
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    display: flex;
}

.input-item{
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 20px;
    position: relative;
}

.input-item input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    background: none;
    border: solid 1px gray;
}

.input-item select{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
    background: none;
    border: solid 1px gray;
    appearance: none;
    -webkit-appearance: none;
}

.input-item i{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(255, 150, 58) ;
}

.input button{
    background: rgb(255, 150, 58);
    margin-top: 32px;
    height: 46px;
    border: none;
    color: white;
    margin-left: 20px;
    width: 15%;
}

.itemtext{
    display: flex;
    background: rgb(2248, 250, 255);
    padding: 80px 10%;
}

.itemtext-item{
    padding: 20px;
}

.itemtext-color{
    display: flex;
}

.itemtext-color strong{
    margin-left: 5px;
}

.color{
    color: rgb(255, 150, 58);
}

.itemimage{
    padding-bottom: 80px;
}

.itemimage h2{
    padding-top: 70px;
    padding-bottom: 70px;
}

.itemimage-item-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 300px;
    width: 100%;
}

.itemimage-item-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemimage-item-2 h3{
    background: white;
    padding: 20px 30px;
    position: absolute;
    bottom: 2%;
    left: 10%;
    width: 80%;
    text-align: center;
}

.agency-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.agency img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

.agency-item{
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 55px;
    padding-right: 140px;
}

.agency-item p{
    color: gray;
    line-height: 30px;
}

.activities{
    display: flex;
    justify-content: center;
    background: rgb(2248, 250, 255);
    padding: 80px 10%;
}

.activities-item{
    padding: 10px;
}

.activities-item i{
    font-size: 60px;
    color: rgb(255, 150, 58);
    padding-bottom: 10px;
}

.activities-item h4{
    padding-bottom: 20px;
}

.tarjetas-principal h2{
    padding-top: 70px;
    padding-bottom: 70px;
}

.tarjetas{
    padding-bottom: 50px;
}

.tarjetas img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.tarjetas-item{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.tarjetas-item p{
    color: gray;
    margin-top: 10px;
}

.tarjetas-item-price{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.tarjetas-item-price p{
    color: blue;
    font-size: 18px;
    margin: 0;
}

.tarjetas-item-star{
    display: flex;
}

.tarjetas-item-star-star{
    display: flex;
    align-items: center;
}

.tarjetas-item-star i{
    color: rgb(255, 150, 58);
    padding-right: 5px;
    font-size: 12px;
}

.tarjetas-item-star p{
    margin: 0;
    font-size: 12px;
}

.days{
    color: black;
    font-size: 13px;
}

hr{
    width: 100%;
}

.tarjetas-item-map{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tarjetas-item-map button{
    background: rgb(9, 194, 153);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.tarjetas-item-map-map{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.tarjetas-item-map-map i{
    color: gray;
    align-items: center;
    padding-right: 5px;
}

.sociales{
    padding: 96px 10%;
    background-image: url('../images/cartagena.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin-bottom: 50px;
}

.sociales-item{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sociales::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgb(9, 194, 153, .4);
}


.star-principal{
    flex-direction: column;
}

.tarjetas-item-price-2{
    width: 30%;
    text-align: right;
}

.tarjetas-item-price-2 p{
    margin: 0;
}

.tarjetas-item-price-2 span{
    font-size: 12px;
    color: blue;
}

.testimonial{
    color: white;
    padding: 96px 10%;
    background: rgb(9, 194, 153);
}

.testimonial-principal{
    text-align: center;
}

.testimonial-principal h2{
    padding-bottom: 20px;
}

.testimonial-item-text{
    background: rgb(33, 200, 163);
    position: relative;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.testimonial-item-text i{
    background: rgb(255, 150, 58);
    padding: 10px;
    border-radius: 100px;
    position: absolute;
    left: 80px;
    top: 20px;
}

.testimonial-item-text img{
    height: 95px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 100px;
    position: absolute;
    top: -45px;
    border: 6px solid rgb(9, 194, 153);
    margin-left: 10px;
}

.testimonial-item{
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.parrafo{
    padding-bottom: 30px;
    line-height: 30px;
}

.testimonial-item strong{
    font-size: 18px;
}


.tarjeta-3 img{
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.recomendaciones{
    background: rgb(248, 250, 255);
    padding: 96px 10%;
}

.recomendaciones-item{
    display: flex;
    flex-direction: column;
}

.recomendaciones-item a{
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.recomendaciones-item-img{
    height: 250px;
    width: 100%;
    position: relative;
}

.recomendaciones-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.recomendaciones-item-img span{
    background: rgb(9, 194, 153);
    padding: 5px 10px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.recomendaciones-item-text{
    display: flex;
    align-items: center;
}

.recomendaciones-item-text{
    color: gray;
}

.recomendaciones-item-text p{
    margin: 0;
}

.recomendaciones-item-text i{
    align-items: center;
    padding-left: 10px;
}

.recomendaciones-item a:hover{
    color: rgb(255, 150, 58);
}

.suscribe{
    background: rgb(9, 194, 153);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.suscribe h2{
    padding-bottom: 20px;
}

.suscribe-item{
    padding-top: 30px;
}

.suscribe input{
    background: none;
    padding: 10px 20px;
    border: 1px solid white;
}

.suscribe ::placeholder{
    color: white;
}

.suscribe button{
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.footer{
    background: rgb(34, 40, 49);
    color: rgb(214, 214, 214);
    padding: 90px 10%;
}

.footer-item h4{
    padding-bottom: 30px;
}

.footer-item-sociales{
    display: flex;
}

.footer-item-sociales a{
    color: white;
    font-size: 25px;
    border-radius: 100%;
    background: rgb(45, 51, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.footer-item-menu{
    display: flex;
    flex-direction: column;
}

.footer-item-menu a{
    line-height: 40px;
    color: rgb(214, 214, 214);
    text-decoration: none;
    
}

.copy{
    padding-top: 80px;
    text-align: center;
}